name: Release postgres backup image
on:
  push:
    branches:
      - main
    paths:
      - postgres/**
jobs:
  build_image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        postgres_version: [17, 18]
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{  github.token }}

      - name: Build and publish images
        run: just build-push-postgres ${{ matrix.postgres_version }}
        env:
          docker_user: ${{ github.actor }}
          docker_password: ${{ github.token }}
